.App {
  margin: auto;
  max-width: 600px;
}

.App footer {
  font-size: 12px;
  position: relative;
  left: 45px;
  margin-top: 5px;
}

.container {
  margin-top: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #bdbdbd;
  border-style: solid;
}
