.weather {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 30px 0px 30px;
  border: gray solid 2px;
  border-radius: 5px;
}
.form {
  margin-top: 40px;
}

#search-engine {
  margin: 20px auto;
}

.City {
  color: #21837b;
  font-size: 30px;
  font-weight: 500;
  padding: 0px;
}

.CurrentDate {
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  font-size: 14px;
  padding: 0px;
}

img {
  position: flex;
  display: block;
  margin: auto;
}

#currentTemperature {
  font-size: 35px;
  text-align: center;
  font-weight: 400;
}

.weather .units {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  position: relative;
  top: -15px;
}

.capitalize {
  text-transform: capitalize;
}

.units {
  position: relative;
  font-size: 14px;
  left: 2px;
  bottom: 14px;
}

.UTC {
  font-size: 10px;
}
